/**
 * Color palette. Thanks http://kuler.adobe.com
 * SCSS Based on @joshbroton's styles.css https://github.com/joshbroton/Responsive-Boot-Camp/blob/master/scss/styles.scss
 */
$brown: rgb(115,82,54);             /* Brown #735236 */
$darkbrown: rgb(64,49,37);          /* Dark Brown #403125 */
$tan: rgb(217,183,154);             /* Tan #d9b79a */
$orange: rgb(217,82,4);             /* Orange #d95204 */
$darkred: rgb(115,12,2);            /* DarkRed #730c02 */
$olive: rgb(58,53,13);              /* Olive #3a350d */
$gold: rgb(242,188,27);             /* Gold #f2bc1b */
$darkgold: darken($gold, 20%);      /* Dark Gold #dfa61c */

// Greys
$black: rgb(0,0,0);                 /* Black #000000 */
$darkergrey: lighten($black, 10%);  /* Darker Grey  */
$darkgrey: lighten($black, 25%);    /* Dark Grey #404040 */
$midgrey: lighten($black, 50%);     /* Mid Grey #808080 */
$lightgrey: lighten($black, 75%);   /* Light Grey #bfbfbf */
$lightergrey: lighten($black, 90%); /* Lighter Grey #e6e6e6 */
$white: rgb(255,255,255);           /* White #ffffff */

// Base
$bodycolor: $white;
$textcolor: $black;

// Typography
$basefont: Verdana, Arial, Helvetica, sans-serif;
$basefontsize: 100%;
$baselineheight: 1.2em;
$headingfont: SFFedora, Georgia, Times, "Times New Roman", serif;
$headinglineheight: 1.35em;

// Links
$linkcolor: $orange;
$linkhover: darken($linkcolor,12%);
$linkvisited: darken($linkcolor, 25%);
$linkfocus: darken($linkcolor, 35%);

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*
  ---- ---- ---- ---- FONT-FACE DECLARATIONS ---- ---- ---- ----
*/
@font-face {
  font-family: 'SF Fedora';
  src: url('../fonts/SF_Fedora.eot'),
url('../fonts/SF_Fedora.eot#iefix') format('embedded-opentype'),
  url('../fonts/SF_Fedora.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Fedora Outline';
  src: url('../fonts/SF%20Fedora%20Outline.eot'),
  url('../fonts/SF%20Fedora%20Outline.eot#iefix') format('embedded-opentype'),
  url('../fonts/SF%20Fedora%20Outline.ttf');

}
/*
  ---- ---- ---- ---- BASE STYLES  ---- ---- ---- ----
*/

a {
  color: $linkcolor;
  text-decoration: none;
  &:hover {
    color: $linkhover;
    text-decoration: underline;
  }
  &:visited {
    color: $linkvisited

  }
  &:focus,
  &:active {
    color: $linkfocus;
  }

}
h1 {
  font-family: 'SF Fedora';
  color: $darkred;
}

h2,h3,h4,h5,h6 {
  font-family: 'SF Fedora';
  color: $darkgold;
  margin-left: 0.2em;
  margin-right: 0.2em;


}

img {
  width: 100%;
}

/*
  ---- ---- ---- ---- ALL VIEWPORTS AND SIZES ---- ---- ---- ----
*/
// The core, base CSS is here.
body,html {
  background-color: $white;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


header.banner {

  img {
    width: 10%;
    max-width: 150px;
    margin: 1.1em 0;
    float: right;
  }

}
#nav {
  background-color: $darkbrown;
  color: $tan;
  .menu_title {
    font-family: $basefont;
    margin: 0;
    padding: 0;
    background-color: $darkbrown;
  }
}

#nav ul {
  background-color: $darkbrown;
  list-style: none;
  width: 100%;
  padding-left: 0;
  margin: 0;
  li {

    a {
      color: $tan;

      &:hover,&:active,&:focus {
        color: lighten($tan,20%);
      }
    }
  }
}

footer   {
  background-color: $darkred;
  color: $tan;
  padding: 1em 0.5em 0.2em;
  maring: 0;
  font-size: 0.8em;
}



/*  Tablet */

@media screen and (min-width: 500px) {
  #nav ul li { display: inline;}

  .block {
    width: 33.3333333333333333%;
    float: left;
    padding: 0 15px;
  }

    .sidebar {
      clear: both;

      .staff {
        width: 33.3333333333%;
        float: left;
        padding: 0 15px;

      }
    }

  footer {
    clear: both;
  }
}

@media screen and (min-width: 800px) {
  #wrapper {
    max-width: 1200px;

  }

  #services {
    width: 75%;
    float: left;
  }
  aside {
    margin-left: 75%;

    width: 25%;
  }

  .sidebar {
    clear: right;
    .staff {
      width: 100%;
      float: none;

    }
  }

}